# Tuples in Python

All types of data can be contain in tuple and also the types of variable of this is also called Tuple

In [8]:
tuple1= ("disco", 10, 1.2)
print(tuple1)
type(tuple1)

('disco', 10, 1.2)

tuple

### indexing
Here we also can do indexing as like we did in lists

In [10]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

We also can print the type of varaiable inside the tuple

In [9]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

### Negative Indexing
We can also negative indexig here in tuple as like list

In [11]:
tuple1[-1]

1.2

### Concatenate Tuples

We can concatenate or comnbine the tuples with **+** sign

In [12]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

### Slicing
We can slice tuples as like list.

In [13]:
tuple2[0:3]

('disco', 10, 1.2)

### Length
We can also obtain length of the tuple by using `len` command. It will show the number of elements in the tuple

In [14]:
len(tuple2)

5

### Sorting
We can sort the value of tuple using `sorted` command

In [15]:
Rating=(0, 4, 9 ,2 , 3 , 7, 8)
print("Before Sorting: ", Rating)
sorted_rating=sorted(Rating)
print("After Sorting: ", sorted_rating)

Before Sorting:  (0, 4, 9, 2, 3, 7, 8)
After Sorting:  [0, 2, 3, 4, 7, 8, 9]

### Nested Tuple
A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Each elements as like the other tuples inside the tuple can be obtain through indexing

In [19]:
nested_tuple=(1, 2,("Hero", "Superman",2), (3,7))
print(nested_tuple)
print(nested_tuple[0])
print(nested_tuple[1])
print(nested_tuple[2])
print(nested_tuple[3])

(1, 2, ('Hero', 'Superman', 2), (3, 7))
1
2
('Hero', 'Superman', 2)
(3, 7)

We can also access the 2nd index of the 3rd elememt

In [20]:
print(nested_tuple[2][1])

Superman

we can even access single index of single letter of specific elements as like we want obtain the superman's **m**. Its like a tree with his branches

In [21]:
print(nested_tuple[2][1][5])

m